.app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: white;
}

.app-header-background {
    background: black;
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}
.app-header-background.show {
    display: block;
}


.app-header-title {
    padding: 11px 0;
    margin: 0;
    font-size: 20px;
    letter-spacing: -1px;
    text-align: center;
    background: #f36c3d;
    position: relative;
    z-index: 10;
    user-select: none;
}
@media (max-width:549px) {
    .app-header-title {
        text-align: left;
    }
}

.app-header-logo {
    padding-left: 10px;
    margin-top: -2px;
    height: 30px;
    display: inline-block;
    vertical-align: bottom;
}

.app-header-add {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 0 6px;
    transition: transform 0.1s ease-in-out;
    transform: rotateZ(0);
}
.app-header-add.show {
    transform: rotateZ(45deg);
}
