.app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 40px;
    padding: 5px 0;
    background: #f36c3d;
    color: white;
    text-align: center;
}

.app-header-title {
    padding: 0;
    margin: 3px;
    font-size: 20px;
    letter-spacing: -1px;
    display: inline-block;
}

.app-header-logo {
    height: 30px;
    display: inline-block;
    vertical-align: bottom;
}

.app-header-add, .app-header-update {
    cursor: pointer;
    font-size: 50px;
    vertical-align: middle;
    position: absolute;
    top: 0;
}
.app-header-add {
    left: 0;
}
.app-header-update {
    font-size: 40px;
    vertical-align: middle;
    padding: 5px;
    right: 0;
}
