.link-group h4 {
    text-align: left;
    padding: 5px 10px;
    font-size: 18.4px;
    font-weight: 300;
    margin: 0;
    background: #EFEAE8;
}
.link-group-empty {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
}
.link-group-empty span {
    font-style: normal;
}

.nolinks {
    text-align: center;
    padding-top: 50px;
}
.nolinks h2 {
    font-size: 26px;
}
.nolinks span {
    letter-spacing: -2px;
}
.nolinks p {
    font-size: 20px;
    margin: 15px auto;
    max-width: 400px;
}
.nolinks i {
    font-size: 35px;
    vertical-align: middle;
}
.nolinks strong {
    display: inline-block;
}
