<div *ngIf="showEmpty" class="nolinks">
    <h2>Welcome to <span>Updatr</span> 🤗!</h2>
    <p>To get started add some links you'd like to follow using the big <strong><i class="icons">add</i> button</strong> on the top.</p>
    <p>🚀</p>
    <p>Need inspiration? Try adding: https://medium.com/product-hunt</p>
</div>

<div *ngIf="!showEmpty">
    <div class="updating" *ngIf="updating">
        <p>Checking {{linksToCheck}} links...</p>
    </div>
    
    <div class="card link-group">
        <h4>Unread updates</h4>

        <link-renderer *ngFor="let link of linkGroups[0].links" [link]="link"></link-renderer>

        <p *ngIf="!linkGroups[0].links.length" class="link-group-empty">
            <span>🎉</span> Congratulations! You've seen all updates...
        </p>
    </div>

    <div class="card link-group" *ngIf="linkGroups[1].links.length">
        <h4>Visited</h4>
        <link-renderer *ngFor="let link of linkGroups[1].links" [link]="link"></link-renderer>
    </div>
</div>
