<div *ngIf="showEmpty" class="nolinks">
    <h2>Welcome to <span>Updatr</span> 🤗!</h2>
    <p>To get started add some links you'd like to follow using the big
        <svg style="display:inline-block;position:relative;top:8px;" fill="#000000" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
        </svg> button on the top.</p>
    <p>
        <br>
        Need inspiration? Try adding: https://medium.com/product-hunt
    </p>
</div>

<div *ngIf="!showEmpty">
    <div class="card link-group">
        <h4>Unread updates</h4>

        <link-renderer *ngFor="let link of linkGroups[0].links" [link]="link"></link-renderer>

        <p *ngIf="!linkGroups[0].links.length" class="link-group-empty">
            <span>🎉</span> Congratulations! You've seen all updates...
        </p>
    </div>

    <div class="card link-group" *ngIf="linkGroups[1].links.length">
        <h4>Visited</h4>
        <link-renderer *ngFor="let link of linkGroups[1].links" [link]="link"></link-renderer>
    </div>
</div>
