.link-adder {
    padding: 6px 15px 6px 22px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid #f36c3d;
    border-top: 0;
    overflow: hidden;
    margin: auto;
    max-width: 800px;
    height: 35px;
    transform: translateY(-50px);
    transition: transform 0.1s ease-in-out;
    will-change: transform;
}
.link-adder.show {
    transform: translateY(-2px);
}

.link-adder-container {
    width: calc(100% - 45px);
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    float:left;
}
.link-adder-container input {
    border: 0;
    border-bottom: 1px solid darkgray;
    outline: 0;
    display: block;
    width: 100%;
    position: absolute;
    top: 12px;
    font-size: 18px;
}
.link-adder-container label {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    color: darkgray;
}

.link-adder-button {
    float:right;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    border: 0;
    background: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 500;
    color: currentColor;
    text-align: center;
    margin: 0;
    padding: 2px 0 0;
    border-radius: 2px;
    margin-left: 6px;
}
.link-adder-button i {
    font-size: 35px;
    color: darkgray;
}
