.link-adder {
    box-shadow: 0 0 0 -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.14), 0 0 3px 0 rgba(0,0,0,.12);
    padding: 6px 24px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.link-adder-container {
    width: calc(100% - 65px);
}
.link-adder-button {
    min-width: 0;
    margin-left: 5px;
}
