<div class="link-renderer" [ngClass]="{'updated': !link.visited }">
    <a href="{{link.url}}" (click)="onToggleRead()" target="_blank">
        <img src="/assets/img/update.svg" alt="update" class="update-icon"/>
        <span class="link-text">{{link.url}}</span>
    </a>
    <div class="link-renderer-buttons">
        <img src="/assets/img/star-1.svg" alt="star-1" *ngIf="link.stars==0" (click)="onToggleStar()"/>
        <img src="/assets/img/star-2.svg" alt="star-2" *ngIf="link.stars==1" (click)="onToggleStar()"/>
        <img src="/assets/img/star-3.svg" alt="star-3" *ngIf="link.stars==2" (click)="onToggleStar()"/>
        <img src="/assets/img/delete.svg" alt="delete" (click)="onDelete()"/>
    </div>
</div>
