<div class="link-renderer" [ngClass]="{'updated': !link.visited }">
    <a href="#" *ngIf="link.loading">
        <i class="icons loading-icon">cloud_download</i>
        <em>{{link.url}}</em>
    </a>

    <a href="{{link.url}}" (click)="onToggleRead()" *ngIf="!link.loading" target="_blank">
        <i class="icons update-icon">new_releases</i>
        <span class="link-text">{{link.url}}</span>
    </a>
    <div class="link-renderer-buttons">
        <i class="icons" (click)="onToggleRead()">remove_red_eye</i>
        <i class="icons" (click)="onDelete()">delete</i>
    </div>
</div>
