.link-renderer {
    padding: 5px 15px 10px 30px;
    border-bottom: 1px solid rgb(239, 234, 232);
    overflow: hidden;
    display: table;
    width: calc(100% - 45px);
}
.link-renderer.updated {
}

.link-renderer a {
    color: Black;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}

.link-renderer .link-text {
    border-bottom: 1px solid white;
}
.link-renderer.updated .link-text {
    border-bottom: 1px solid #66a866;
}

.update-icon {
    display: none;
    position: relative;
    top: 5px;
    color: #66a866;
}
.link-renderer.updated .update-icon {
    display: inline-block;
}

.link-renderer-buttons {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    cursor: pointer;
    color: darkgray;
    font-size: 40px;
}
